.button {
  border: 0;
  padding: var(--space-s) var(--space-l);
  font-size: var(--font-h6);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: var(--radius-m);
}

.primary {
  background-color: var(--colors-primary);
  color: var(--colors-primary-text);
}
.secondary {
  background-color: var(--colors-secondary);
  color: var(--colors-secondary-text);
}
.destructive {
  background-color: var(--colors-error);
  color: var(--colors-error-text);
}
