:root {
  /* TODO: Restructure colors so that component-specific colors aren't mixed with general colors */
  /* === Colors === */
  --colors-primary: #006eb2;
  --colors-primary-text: #ffffff;
  --colors-primary-hover: #015986;
  --colors-secondary: #fd5000;
  --colors-secondary-text: #ffffff;
  --colors-secondary-hover: #ba3d07;
  --colors-subtle: #f0efee;
  --colors-subtle-text: #444444;
  --colors-subtle-hover: #d9d3d3;
  --colors-tertinary: #f0efee;
  --colors-tertinary-text: #444444;
  --colors-terinary-hover: #d9d3d3;
  --colors-error: #ff0000;
  --colors-error-text: #ffffff;
  --colors-error-hover: #b40708;
  --colors-disabled: #e5e6e7;
  --colors-disabled-text: #9ea0a1;

  --colors-icontile-primary: #ffffff;
  --colors-icontile-text: #414042;
  --colors-icontile-primary-hover: #e7e5ea;
  --colors-iconcard-text: #ffffff;
  --colors-iconcard-text2: #000000;
  --colors-iconcard: #006eb2;

  /* === Sizes === */
  --size-icon-primary: 310px 230px;
  --size-icon: 150px 150px;

  /* === Border radius === */
  --radius-s: 2px;
  --radius-m: 4px;
  --radius-l: 6px;

  /* === Spacings === */
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 18px;
  --space-xl: 24px;
  --space-xxl: 32px;

  /* === Typography === */
  --font-h1: 48px;
  --font-h2: 32px;
  --font-h3: 28px;
  --font-h4: 24px;
  --font-h5: 18px;
  --font-h6: 14px;
}
