.iconTile {
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: var(--radius-m);
  display: flex;
  font-size: var(--font-newh5);
  justify-content: center;
  align-items: center;
  height: 310px;
  width: 230px;
  padding: 20px;
}
.iconTile:hover {
  /* TODO: change it so that it grows without altering the layout */
  background-color: var(--colors-icontile-primary-hover);
}
.image {
  margin: auto;
  height: 100%;
  width: 100%;
  font-weight: normal;
  font-size: 86px;
}
.description {
  font-weight: normal;
  padding: var(--space-xl);
}
